1. what is puthon, and why is it popular?
   - Python is a programming language that is easy to write and understand.
   It is very popular amog developers and researchers because it has an extensive standard libraries and third-party packages for various domain.

2. What is an interpreter in Python?
   - A python interpreter is a program that processes and executes python code. It converts high-level program statement into machine code.

3. What are pre-defined keywords in python?
   - Keywords in python are predefined or reserved words that have a special meaning and they are very case-sensitive, they can be overridden within python program.
   ex- true, false, print,for, while etc.

4. can keywords be used as variable names?
  - no, we cannot used keywords as variable names. Because variables are symbolic names that refer to objects or value stored in computer's memory. and they are essential to build blocks in python program. But keywoords are reserved words that have special meaning and they cannot be overridden.
5. what is mutability in python?
   - In python, those objects are changeable or modified after creation, they called as mutable objects.
   ex- lists etc.

6. Why are lists mutable , but tuples are immutable?
   - lists can be modified after creation but tuples cannot. that's why lists are mutable, tuples are not.

7. What are the difference between '==' and 'is' operators in python?
   - The 'is' operators is identity operators. It is used to check the different objects are identified same object in memory or not. but '==' is comparison operators that compared the value of different objects.

8. What are logical operators in python?
   - A logical operator in python that performs logical calculation on two or more values and produces a result based on truth value of the input. ex- AND, OR etc.

9. What is type casting in python?
  - Type casting also referred as type convesion, that is used to convert from one data type to another.

10. What is difference between implicit and explicit type casting?
   - Explicit type casting is performed by the user by using type connversion functios in the program code.but implicit type casting performed by python interpreter.

11. What is the purpose conditional statements in python?
   - The purpose of coditional statement is to execute a specific task depends on various conditions.

12. How does elif statement work?
   - The keyword 'elif' referred as 'else if' in python. It is used is connditional statement when more than one conditions are given.

13. What is the difference between for loop and while loop?
    - For loop is used to itirate over a sequence of items. but while loop is used to execute repeatedly a block of statements while condition is true.

14. Describe a scenario where a while loop is more suitable than a for loop.

 PRACTICAL QUESTIONS:

In [ ]:
#1.Q.write a python programe to print 'hello world'
a="hello world"
print(a)

hello world

In [ ]:
#2.Q.write a python program that displays your name and age.
name= input("enter my name: ")
age = int(input("enter your age : "))
print(f"name:{name}, age : {age}")

enter my name: Soumita Mallick
enter your age : 27
name:Soumita Mallick, age : 27

In [ ]:
# 3.Q. Write code to print all the pre-defied keywords in python using the keyword library.
#'and' keyword
10 and 10

10

In [ ]:
#'or' keyword
3|5

7

In [ ]:
# 'if' and 'else'keyword
a=5
if a>10:
  print("a is greater than 10")
else:
  print("a is less than 10")

a is less than 10

In [ ]:
# 4.Q. Write a program that checks if a given word is a python keyword.
a=10
if a>10:  #here 'if','elif','else' are keywords in python.
  print("a is greater than 10")
elif a==10:
  print("a is equal to 10")
else:
  print ("a is less than 10")

a is equal to 10

In [ ]:
#5.Q. Create a list and tuple in python, and demonstrate how attempting to change an element works differently for each.

list=[1,2,3,'s',2.3,3+7j]   #here I change the first element in the list..
list[0]="Soumita"
list

['Soumita', 2, 3, 's', 2.3, (3+7j)]

In [ ]:
t=(1,2,3,'s',2.3,(3+7j))  #here I create a tuple and the elements does not change in tuple.
t[0]="soumita"

TypeError: 'tuple' object does not support item assignment

In [ ]:
#6.Q.Write a function to demonstrate the behavior of mutable and immutable object.
list=['i','am','a','good','student']
type(list)

list

In [ ]:
list[1]='was'  #first index element assigned in lists, lists are mutable object.
list

['i', 'was', 'a', 'good', 'student']

In [ ]:
tuple=('i','am','a','good','student')
type(tuple)

tuple

In [ ]:
tuple[1]='was'   #the first index element does not change in tuple, so tuple is a immutable object.
tuple

TypeError: 'tuple' object does not support item assignment

In [ ]:
#7.Q Write a program that performs basic arithmatic opeation on two user input number.
a=5
b=10
a+b

15

In [ ]:
# arithmatic operation.
a*b

50

In [ ]:
# arithmatic operation.
b/a

2.0

In [ ]:
#8.Q. Write a program to demonstrate the use of logical operators.
# and operator
5 and 6

6

In [ ]:
#or operator
18|3

19

In [ ]:
#9. Q. Write a pytho program to covert user input from string to integer,float,and boolean type.
a='5'
type(a)

str

In [ ]:
int(a) #here string convverted integer.

5

In [ ]:
float(a) #here string converted into float.

5.0

In [ ]:
bool(a) #here string coverted into boolean value.

True

In [ ]:
#10.Q. Write code to demonstrate type casting with list elements.
a=[1,4,9,6,3]
c=list(map(str,a))
print(c)

['1', '4', '9', '6', '3']

In [ ]:
#11.Q.Write a program that checks if a number is positive, negative or zero.
num = float(input("input a number: "))
if num>=0:
  print("positive number")
elif num==0:
  print("zero")
else:
  print("negative number")

input a number: 2
positive number

In [ ]:
#12.Q. write a for loop to print numbers from 1 to 10.
a=[]
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# 13.Q.Write a python program to find the sum of all even numbers between 1 to 50.

In [ ]:
#14.Q. Write a program to reverse a string using while loop.
list=[1,12,14,17,19,34]
list[::-1]

[34, 19, 17, 14, 12, 1]

In [ ]:
#15.Q. Write a python program to calculate the factorial of a number provided by the user using a while loop.
n=int(input("enter a num : "))

product = 1
while n > 1:
  product = product * n
  n = n-1

  print(f"factorial is : {product}")

enter a num : 5
factorial is : 5
factorial is : 20
factorial is : 60
factorial is : 120